

Dear #{@order.name} 

Thank you for your recent order from the Pragmatic Store.

You ordered the following items:
%p
  You ordered the following items:
  - @order.line_items.each do |item|
    = item.product.title

  We'll send you a seperate e-mail when your order ships