// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.orders{
    section {
        padding: 1.5em 1.5em 1.5em 1em;
    }
    #submit {
        margin-top:2em;
    }
    .field {
        font-weight: bold;
    }

}