// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {
    max-width: 80em;
    ul.catalog {
        border-top: solid 0.250em;
        list-style: none;
        padding:0;
        margin: 0;
    li {
        padding: 1em;
        margin: 0;
        border-bottom: solid thin #ddd;
        @media screen and (max-width: 40em){
            padding: none;
        }
    
    @media screen and (max-width: 40em){
        h1 {
            padding:1.2em;
        }
        #notice {
            margin:1.5em;
        }
    }
    &::after {
        clear: both;
        content: " ";
        display: block;
    }

    main {
        padding: 1.2em;
    }
    img {
        float: left;
        padding: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
        box-shadow: 0.176em 0.176em 0.354em 0px rgba(0,0,0,0.75);
        @media screen and (max-width: 40em){
            display: block;
            width:75%;
            padding-left: 2em;
            margin-left: 1.5em;
        }
    }
    
    
    .h2 {
       text-align: center; 
    }
    @media only screen and (max-width:40em){
        #num {
            text-align: center; 
            display: block;
            margin: 1.1em;
            font-style: italic;
        }
    }
    
    .price{
        font-size: 2em;
        
            }

            
            form, div {
                display: inline;
                
            }
            input[type="submit"]{
                background-color:#282;
                border-radius: 0.354em;
                border: solid thin #141;
                color: white;
                font-size: 1em;
                padding: 0.354em 1em;
                @media only screen and (max-width:40em){
                    display:block;
                    width:100%;
                    
                }
            }
            input[type="submit"]:hover {
                background-color: #141;
            }
        }
    }
}